.blogpage {

	.breadcrumbs {
		margin: 20px 0 40px;

		ul {
			li {
				&:last-child {
					a span {
						position: relative;
						display: inline-flex;
						padding-right: 25px;
						max-width: 375px;
						overflow-x: hidden;
						white-space: nowrap;

						&::after {
							content: '...';
							position: absolute;
							right: 0;
							background-color: var(--gray100);
						}
					}
				}
			}
		}

		@include mw768 {
			margin: 10px 0 30px;
		}
	}

	.info {
		display: flex;
		align-items: baseline;
		gap: 30px;
		flex-wrap: wrap;

		@include mw768 {
			margin-bottom: 0;
			flex-direction: column;
			gap: 10px;
		}

		&>span {
			font-size: 16px;
			line-height: 150%;
			color: var(--gray600);
		}

		&>a {
			padding: 6px 15px;
			font-size: 14px;
			font-weight: 400;
			line-height: 120%;
			color: var(--accent);
			border: 1px solid var(--accent);
			transition: background-color 0.2s ease-out;

			&:hover {
				background-color: var(--white);
			}
		}
	}
}

.blogpage__grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto auto;
	grid-gap: 40px 20px;
	@include mw1024 {
		grid-template-columns: 1fr;
		grid-gap: 40px;
	}
	@include mw768 {
		grid-gap: 20px;
	}

	.title-block {
		grid-row: 1 / 2;
		grid-column: 4 / 10;
		@include mw1024{
			grid-column: auto;
		}

		.h1 {
			margin-bottom: 20px;
			text-transform: uppercase;
		}
	}

	article {
		grid-column: 4 / 10;
		grid-row: 2 / 3;
		font-size: 16px;
		line-height: 150%;
		color: var(--dark);
		@include mw1024 {
			grid-column: auto;
			grid-row: auto;
		}

		.text-body {
			padding: 20px 30px 40px;
			background-color: var(--white);
		}

		img {
			margin: 40px 0;
			display: block;
			width: 100%;
			aspect-ratio: 600 / 340;
			object-fit: cover;
		}

		p {
			&+p {
				margin-top: 15px;
			}

			&+.h3 {
				margin-top: 40px;
			}
		}

		ul {
			margin: 15px 0;

			li {
				list-style-type: disc;
				list-style-position: inside;
				font-weight: 500;
			}
		}

		button {
			margin: 40px 0;
		}

		.h3 {
			margin-bottom: 20px;
		}
	}

	.aside {
		grid-column: 10 / 13;
		grid-row: 2 / 3;
		@include mw1024 {
			grid-column: auto;
			grid-row: 2 / 3;
		}

		.sticky {
			position: sticky;
			top: 10px;
			padding: 20px;
			border: 1px solid var(--accent);
			@include mw1024 {position: static;}

			.title {
				margin-bottom: 20px;
				font-size: 16px;
				font-weight: 500;
				line-height: 130%;
				text-transform: uppercase;
			}

			ul {
				display: flex;
				flex-direction: column;
				gap: 15px;
				li {
					a {
						color: var(--gray600);
						font-size: 16px;
					}
				}
			}
		}
	}
}

.promo-block {
	padding: 30px;
	background-color: var(--accent);
	color: var(--white);

	p {
		margin-bottom: 30px;
	}

	.btn {
		background-color: var(--white);
		color: var(--accent);

		&:hover {
			transform: scale(1.05);
			box-shadow: unset;
		}

		&:active {
			transform: scale(0.95);
		}
	}
}