.header {
	padding: 15px 0;
	background-color: var(--gray100);
	position: relative;
	z-index: 2;

	@include mw768 {
		padding: 12px 0;
	}

	&__top {
		margin-bottom: 15px;

		&-wrapper {
			padding-bottom: 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid var(--gray400);
		}

		&-logo {
			width: 17px;
			height: 17px;
			fill: var(--dark);
		}

		&-city {
			display: inline-flex;
			align-items: center;
			gap: 10px;
			color: var(--dark);
			font-size: 16px;

			.i-city {
				width: 18px;
				height: 18px;
				fill: var(--gray600);
			}

			@include mw1024 {
				display: none;
			}
		}

		&-btns {
			display: flex;
			align-items: center;
			gap: 40px;

			@include mw1024 {
				width: 100%;
				justify-content: space-between;
			}

			@include mw768 {
				gap: 20px;
			}
		}

		&-links {
			display: flex;
			gap: 20px;

			&>a {
				color: var(--dark);
				font-size: 16px;
				line-height: 150%;
				font-weight: 500;
				transition: color 0.2s ease-out;

				&:hover {
					color: var(--accent);
				}

				@include mw768 {
					&>svg {
						display: none
					}
				}
			}

			@include mw768 {
				.top-btns__email {
					display: none
				}

				.divider {
					display: none
				}
			}
		}

		&-socials {
			display: flex;
			align-items: center;
			gap: 30px;

			@include mw1024 {
				margin-left: auto;
			}

			@include mw768 {
				gap: 20px
			}

			&>a {
				img {
					transition: transform 0.2s ease-out;
				}

				&:hover {
					img {
						transform: scale(1.1);
					}
				}

				&:active {
					img {
						transform: scale(0.95);
					}
				}
			}

		}

		&-search {
			margin-left: -10px;

			@include mw768 {
				margin-left: 0;
			}

			svg {
				fill: var(--gray600);
				transition: transform 0.2s ease-out;
			}

			&:hover {
				svg {
					transform: scale(1.1);
				}
			}

			&:active {
				svg {
					transform: scale(0.95);
				}
			}
		}
	}

	&__bottom {
		position: relative;
		@include mw575 {
			position: static;
		}

		&-block {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: center;			
		}

		&-list {
			width: 100%;
			display: flex;
			gap: 30px;

			@include mw1024 {
				padding: 30px 20px;
				position: absolute;
				top: calc(100% + 15px);
				right: 0;
				display: flex;
				flex-direction: column;
				gap: 60px;
				max-width: 400px;
				background-color: var(--white);
				z-index: -10;
				opacity: 0;
				pointer-events: none;
				transition: opacity 0.2s ease-out;

				&.show {
					z-index: 1;
					opacity: 1;
					pointer-events: auto;
				}
			}
			@include mw575 {
				top: calc(100% + 2px);
				left: 0;
				min-height: calc(100vh - 120px);
				max-width: unset;

				.jsOpenModal {
					margin-top: auto;
				}
				
			}
		}
	}
}

.bottom-btns {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 5px 30px;
	flex-wrap: wrap;

	@include mw1024 {
		margin-left: auto;
	}

	@include mw768 {
		margin-left: unset;
		display: none;
	}

	&>.jsOpenLK {
		display: inline-flex;
		gap: 10px;

		@include mw1024 {
			display: none;
		}
	}
}

.top-btns__tel {
	display: flex;
	align-items: center;
	gap: 10px;

	&>svg {
		display: none;

		@include mw768 {
			display: block;
			width: 16px;
			height: 16px;
			fill: var(--white)
		}
	}
}