.home-article {

	&__wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 887px;

		.btn {
			margin-top: 40px;
			.small {display: none;}
			&.full-height {
				.big {display: none;}
				.small {display: inline;}
			}
		}
	}

	&__content {		
		max-height: 270px;
		overflow: hidden;
		transition: max-height 0.4s ease-out;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 40px;
			background: linear-gradient(180deg, rgba(237,240,244,0) 0%, rgba(237,240,244,1) 100%);
		}

		@include mw1024 {
			max-width: unset;
		}
		@include mw575 {
			max-height: 540px;
		}
		
		&.full-height {
			max-height: 1000px;
			&::after {
				opacity: 0;
			}
		}

		.h2 {
			margin-bottom: 30px;
		}

		p {
			font-size: 16px;
			line-height: 150%;
			color: var(--dark);

			&+p {
				margin-top: 15px;
			}
		}
	}
}