.home-objects {
	max-width: 100vw;
	overflow: hidden;

	&__top {
		margin-bottom: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include mw768 {margin-bottom: 30px;}

		.sub-dot {margin-bottom: 15px;}
	}

	&__grid {
		.swiper-wrapper {
			display: grid;
			grid-template-columns: 2fr 1fr 1fr;
			grid-gap: 20px;

			@include mw1024 {
				grid-template-columns: repeat(2, 1fr);
			}
			@include mw768 {
				display: flex;
				gap: 0;
			}
		}
		.swiper-slide {
			padding-bottom: 20px;
			border-bottom: 2px solid transparent;
			transition: border-color 0.2s ease-out;
			&:hover {
				border-color: var(--accent);
			}
			.img {
				img {
					aspect-ratio: 320 / 420;
					height: 420px;
					width: 100%;
					object-fit: cover;
					@include mw768 {
						height: 360px;
						aspect-ratio: 300 / 360;
					}
				}
			}
			&:first-child {
				.img {
					img {
						aspect-ratio: 660 / 420;
					}
				}
				@include mw1024 {
					grid-column: 1 / 3;
				}
				@include mw768 {
					.img {
						img {
							height: 360px;
							aspect-ratio: 300 / 360;
						}
					}
				}
			}
			.h3 {margin: 10px 0;}
			span {
				display: block;
				font-size: 16px;
				line-height: 150%;
				& + span {margin-top: 10px;}
			}
		}
	}

	.mobile-more {
		display: none;
		@include mw1024 {
			margin-top: 40px;
			display: block;
			text-align: center;
		}
		@include mw768 {
			margin-top: 30px;
			display: flex;
			flex-direction: column;
			align-items: center;
			.btn {
				max-width: 360px;
				width: 100%;
			}
		}
	}
}