.home-service {

	&__top {
		margin-bottom: 40px;
		display: grid;
		grid-template-columns: 1fr 187px;
		grid-gap: 20px;

		@include mw1024 {
			grid-template-columns: 1fr;
			grid-gap: 0;

			.btn {
				display: none;
			}
		}

		@include mw768 {
			margin-bottom: 30px;
		}

		.title {
			display: flex;
			flex-direction: column;
			gap: 15px;
			justify-content: center;
		}

		.btn {
			align-self: center;
		}
	}

	&__bottom {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		@include mw1024 {
			grid-template-columns: 1fr;
		}

		.hth {
			display: flex;
			flex-direction: column;
			max-width: 547px;
			@include mw1024 {
				max-width: unset;
			}

			.htb {
				padding: 20px;
				display: flex;
				align-items: center;
				gap: 15px;
				border-bottom: 1px solid var(--gray400);
				color: var(--dark);

				&>i {
					font-style: normal;
				}

				&>span {
					white-space: normal;
					text-align: left;
				}

				&>svg {
					margin-left: auto;
					width: 26px;
					height: 26px;
					stroke: transparent;
				}

				&.active {
					background-color: var(--accent);
					color: var(--white);

					&>svg {
						stroke: var(--white);
					}
				}
				&:hover {
					background-color: var(--accent-light);
					color: var(--white);

					&>svg {
						stroke: var(--white);
					}
				}
			}
		}

		.bth {
			.btb {
				padding: 40px;
				background-color: var(--white);
				@include mw768 {padding: 20px;}

				&>i {
					font-style: normal;
					color: var(--accent);
				}
				.title {
					margin: 20px 0;
					font-size: 22px;
					line-height: 130%;
					font-weight: 500;
					@include mw768 {font-size: 16px;}
				}
				p {
					& + p {margin-top: 15px;}
					&:last-of-type {
						margin-bottom: 20px;
					}
				}
				&>img {
					aspect-ratio: 580 / 280;
					width: 100%;
					object-fit: cover;
					@include mw768 {
						aspect-ratio: 280 / 220;
					}
				}
			}
		}
	}
	@include mw1024 {
		.service-btn {
			margin-top: 40px;
		}
	}
	@include mw768 {
		.service-btn {
			margin-top: 30px;
		}
	}
}