section.project-page.offset
	.container
		+breadcrumb(['Главная', 'Наши проекты'], 
			'Строительство Детского сада', 
			'',
			['/', 'projects.html', 'project-page.html'])
		.project-page__hero
			.content
				.h1 Строительство Детского сада
				.grid
					.grid-item
						.title Локация
						span Лен. Обл. г. Шлиссельбург ул. Пролетарская
					.grid-item
						.title Площадь объекта
						span 3150 м2
					.grid-item
						.title Период
						span 2013 год
					.grid-item
						.title Срок реализации
						span 1 год
			.img
				img(src="images/prj-pg-bg.jpg", alt="")