section.service-page__about.offset
	.wrapper
		.title
			.sub-dot О проекте
			.h2 Выполняемые работы
		ul.sub-title__list
			li Подготовительные работы (устройство строительной площадки)
			li Земляные работы
			li Устройство основания и фундамента сборного ж/б
			li Устройство гидроизоляции
			li Устройство кирпичной кладки внутренние наружные стены
			li Монтаж сборных ж/б перекрытий
			li  Устройство внутренних инженерных сетей
			li Устройство наружных инженерных сетей
			li Устройство перегородок (кирпич, газобетон)
			li Штукатурные, облицовочные работы
			li Внутренние отделочные работы
			li Устройство стяжек, полов
			li Устройство кровли
			li Устройство благоустройства
		.service-page__about-slider
			.swiper-wrapper
				.swiper-slide
					a(data-fslightbox="spa" href="uploads/projects/prpj-1.jpg") 
						img(src="uploads/projects/prpj-1.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="spa" href="uploads/projects/prpj-2.jpg") 
						img(src="uploads/projects/prpj-2.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="spa" href="uploads/projects/prpj-3.jpg") 
						img(src="uploads/projects/prpj-3.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="spa" href="uploads/projects/prpj-4.jpg") 
						img(src="uploads/projects/prpj-4.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="spa" href="uploads/projects/prpj-1.jpg") 
						img(src="uploads/projects/prpj-1.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="spa" href="uploads/projects/prpj-2.jpg") 
						img(src="uploads/projects/prpj-2.jpg", alt="")