section.project-page__other.offset
	.container
		.mb40-sm30
			.sub-dot Другие проекты
			.h2 Вам может быть интересно
	.container-right
		.ppo-slider
			.swiper-wrapper
				.swiper-slide
					.img
						img(src="uploads/projects/prj-1.jpg", alt="")
					.h3 Строительство многоквартирного жилого комплекса
					span г. Белоостров, Александровское ш. 17
					span Площадь объекта: 9150 м2
				.swiper-slide
					.img
						img(src="uploads/projects/prj-2.jpg", alt="")
					.h3 Отделочные работы жилых площадей под сдачу
					span Славянка, Юбилейный квартал
					span Площадь объекта: 9150 м2
				.swiper-slide
					.img
						img(src="uploads/projects/prj-3.jpg", alt="")
					.h3 Строительство стадиона «Зенит»
					span Санкт-Петербург
					span Площадь объекта: 9150 м2
				.swiper-slide
					.img
						img(src="uploads/projects/prj-4.jpg", alt="")
					.h3 Отделочные работы по зданию ФСО
					span ул. Звенигородская
					span Площадь объекта: 9150 м2
	.ppo-more
		a.btn.btn--accent.btn--lg.btn--fz16(href="projects.html") Больше проектов