section.about__hero.offset
	.container
		+breadcrumb(['Главная'], 
			'О компании', 
			'',
			['/', 'about.html'])
		.title-block
			.h2 О КОМПАНИИ
			.desc
				p Стабильное предоставление исключительного профессионализма сотрудников и качества выполняемых работ. Развитие строительных технологий, экономических показателей, командных результатов. Современный подход к выполнению задач и оптимизации затрат.
		.ah-grid(style="background-image: url('../images/about-bg.jpg')")
			.ah-grid__item
			.ah-grid__item
			.ah-grid__item
			.ah-grid__item
			.ah-grid__item