section.about__company.offset
	.container
		.about__company-block.offset
			.content
				.title
					.sub-dot О компании
					.h2.mb40-sm30 Ваш надежный партнер в сфере строительства
					p «Санкт-Петербургское строительно-монтажное управление» - это динамично развивающаяся строительная компания. Это команда, сотрудники которой занимаются строительством более 10 лет. Это профессионалы, которые знают о строительстве все и даже чуть-чуть больше.
					p Компания обладает всеми необходимыми допусками к выполнению работ, собственной технической базой и высококвалифицированными специалистами, что позволяет проводить работы любого уровня сложности и масштаба.
				.about__quest
					.h2.mb40-sm30 Задачи нашей компании
					.about__quest-grid
						.about__quest-item
							span 01
							p Постоянное всестороннее развитие сотрудников компании по всем направлениям деятельности с целью поддержание и улучшению качества предоставляемых услуг.
						.about__quest-item
							span 02
							p Постоянный поиск новых технологий в области строительства с целью улучшения качества возводимых сооружений и сокращение сроков производства работ.
						.about__quest-item
							span 03
							p Постоянное поддержание высокого уровня сервиса, обучение персонала  с целью выполнения всех требований и пожеланий партнеров.
			.aside
				.about__company-form
					form.h-form
						.h3 Оставьте заявку
						.form-fields
							input(type="text" placeholder="Имя")
							input(type="text" placeholder="Телефон")
						button.btn.btn--accent.btn--lg.btn--fz16(type="button") Отправить
						.accepting 
							span Нажимая кнопку, вы принимаете согласие на 
							a(href="javascript:")  обработку персональных данных

		include abt3-benefits