div.about__benefits
	.about__benefits-block
		.h2 Преимущества работы с нашей компанией
		.ab-grid
			.ab-grid__item
				+img-svg('i-col-5')
				span Высокий уровень сервиса и качества предоставляемых услуг
			.ab-grid__item
				+img-svg('i-col-6')
				span Соблюдение всех требований Партнера к работам и услугам
			.ab-grid__item
				+img-svg('i-col-7')
				span Многоступенчатый контроль над всеми проводимыми работами
			.ab-grid__item
				+img-svg('i-col-8')
				span Соблюдение всех требований Законодательства к работам и услугам
			.ab-grid__item
				+img-svg('i-col-9')
				span Постоянно поддерживаемый профессионализм всех членов команды