section.about-trust.offset
	.container
		.about-trust__block
			.about-trust__grid
				.about-trust__img(style="")
					.about-trust__img-item
						img(src="uploads/about/ag-1.jpg", alt="")
					.about-trust__img-item
						img(src="uploads/about/ag-2.jpg", alt="")
					.about-trust__img-item
						img(src="uploads/about/ag-3.jpg", alt="")
					.about-trust__img-item
						img(src="uploads/about/ag-4.jpg", alt="")
				.about-trust__content
					.title
						.h2 Мы ценим оказанное нам доверие наших партнеров
						button.btn.btn--accent.btn--lg.btn--fz16.jsOpenModal Получить консультацию
					.img
						img(src="uploads/about/a-cont.jpg", alt="")