footer.footer
	.container
		.footer__top
			.footer__top-logo
				a(href="/")
					+img-svg('logo-wide')

			.footer__top-item
				span.foo-list__title Услуги
				ul.foo-list
					li
						a(href="jservice-page.html") Строительно-монтажные работы 
					li
						a(href="service-page.html") Благоустройство территории
					li
						a(href="service-page.html") Металлические работы
					li
						a(href="service-page.html") Каменные работы
					li
						a(href="service-page.html") Бетонные работы (монолит)
					li
						a(href="service-page.html") Деревянные работы
					li
						a(href="service-page.html") Дорожные работы

			.footer__top-item
				span.foo-list__title Информация
				ul.foo-list
					li
						a(href="about.html") Наши работы
					li
						a(href="sign.html") О компании
					li
						a(href="projects.html") Новости
					li
						a(href="blog.html") Блог
					li
						a(href="contacts.html") Контакты
					li
						a(href="faq.html") Отзывы			
					li
						a(href="faq.html") FAQ			
			.footer__top-contacts
				p.ftc-label Свяжитесь с нами если у вас есть вопросы или чтобы обсудить проект
				.ftc-links
					a(href="tel:+78007757098") +7 (800) 775-70-98
					a(href="mailto:hello@vid-group.ru") hello@vid-group.ru

				.ftc-socials
					a(href="javascript:")
						+img-svg('i-vk')
					a(href="javascript:")
						+img-svg('i-yt')
					a(href="javascript:")
						+img-svg('i-wa')
					a(href="javascript:")
						+img-svg('i-tg')

		.footer__policy
			span &copy; СПБСМУ, 2024
			a(href="error-404.html") Политика конфиденциальности
