html {
	overflow-x: hidden;
	font-size: 10px;
	min-height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	font-family: var(--font-main);
	font-style: normal;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 140%;
	color: var(--dark);

	background-color: var(--gray100);
	overflow-x: hidden;

	@include mw768 {
		font-size: 1.6rem;
		line-height: 150%;
	}
}

h1,.h1,
h2,.h2 {
	font-family: var(--font-head);
}
h1,.h1 {
	font-size: 34px;
	line-height: 130%;
	font-weight: 600;
	@include mw768 {
		font-size: 23px;
	}
}
h2,.h2 {
	font-size: 28px;
	line-height: 120%;
	font-weight: 500;
	@include mw575 {
		font-size: 22px;
		line-height: 130%;
	}
}
h3, .h3 {
	font-size: 22px;
	line-height: 120%;
	font-weight: 500;
	@include mw768 {font-size: 16px}
}


.offset {
	margin-bottom: 140px;
	@include mw1024 {margin-bottom: 120px}
	@include mw768 {margin-bottom: 100px}
}