//- start modal callback
.callback-bg
	.callback
		button(class="callback-close")
			+mono-svg('close')

		.h2 Свяжитесь с нами

		p.sub-h2 Оставьте свои контактные данные и мы вам перезвоним
		
		form(class="callback-form jsForm")
			label
				input(type="text" name="userName" placeholder="Имя")

			label
				input(type="tel" name="userPhone" placeholder="Телефон")
			
			textarea(name="userMessage" placeholder="Сообщение")
			
			label.accept
				input(class="v-hidden" type="checkbox")
				span
					| Согласен с политикой&nbsp;
					a(href="#") обработки персональных данных

			button(class="btn btn--accent btn--lg" type="submit") Отправить
//- end modal callback