.card-modal
	.card-close X
	.card-name ООО «Квазар»		
	.card-text ООО «Квазар», выражает свою благодарность команде специалистов за участие в строительстве нежилого здания в городе Балашиха. Сотрудники учитывали интересы и пожелания руководства ООО «Квазар», чётко и слаженно выполняли поставленные задачи, благодаря чему проект был реализован с опережением сроков.