extends layout/default 

block variables
	-var title = 'О компании'

block content
	include templates/about/abt1-hero
	include templates/about/abt2-company
	include templates/about/abt4-trust
	include templates/home/hm5-objects
	include templates/home/hm6-testimonials
	include templates/home/hm4-form