extends layout/default 

block variables
	-var title = 'Страница блога'

block content
	include templates/blog-page/blogpage1
	include templates/home/hm4-form
	include templates/blog-page/blogpage2-slider
