extends layout/default 

block variables
	-var title = 'Главная страница'

block content
	include templates/home/hm1-hero
	include templates/home/hm2-company
	include templates/home/hm3-services
	include templates/home/hm4-form
	include templates/home/hm5-objects
	include templates/home/hm6-testimonials
	include templates/home/hm7-callback
	include templates/home/hm8-news
	include templates/home/hm9-blog
	include templates/home/hm10-article
