extends layout/default 

block variables
	-var title = 'Страница проекта'

block content
	include templates/projects-page/prp1-info
	include templates/projects-page/prp2-about-project
	include templates/home/hm4-form
	include templates/projects-page/prp3-other-projects
