extends layout/default 

block variables
	-var title = 'Страница услуги'

block content
	include templates/service-page/sp1-hero
	include templates/service-page/sp2-about
	include templates/service-page/sp3-choiced
	include templates/service-page/sp4-process
	include templates/home/hm4-form
	include templates/service-page/sp5-faq
	include templates/home/hm5-objects
	include templates/home/hm7-callback
	include templates/service-page/sp6-others
	include templates/home/hm10-article
