section.service-page__hero.offset
	.container
		.jsCatList
			+breadcrumb(['Главная', 'Наши услуги'], 
				'Бетонные работы ', 
				'',
				['/', 'service.html', 'service-page.html'])
		.content
			.h1 Бетонные работы
			p Наши высококвалифицированные специалисты  используют передовые технологии и гарантируют безупречное качество и точность в выполнении бетонных работ, обеспечивая надежность и долговечность всего строительного проекта.
			button.btn.btn--accent.btn--xl.btn--fz16.jsOpenModal Получить предложение
