section.service-page__about.offset
	.wrapper
		.title
			.sub-dot Об услуге
			.h2 Бетонные работы
		p Работы с бетонной смесью играют ведущую роль при возведении объектов малоэтажного строительства. Их важность невозможно переоценить. Данный вид работ требуется уже при устройстве фундамента, на базе которого затем выстраиваются несущие стены. Фундамент – это основа дома. Вот почему именно от качества бетонных работ зависит надежность и долговечность всего строения.
		p Поэтому очень важно ответственно подойти к расчету всех параметров бетонных работ, приняв во внимание многочисленные факторы – особенного грунта, геометрию участка застройки, применяемые материалы и архитектурные решения. В нашей компании работают только опытные специалисты, которе смогут учесть все нюансы и возвести надежный и долговечный фундамент.
		button.btn.btn--accent.btn--lg.btn--fz16.jsOpenModal Заказать проект
		.service-page__about-slider
			.swiper-wrapper
				.swiper-slide
					a(data-fslightbox="spa" href="uploads/service/s-slide-1.jpg") 
						img(src="uploads/service/s-slide-1.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="spa" href="uploads/service/s-slide-2.jpg") 
						img(src="uploads/service/s-slide-2.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="spa" href="uploads/service/s-slide-3.jpg") 
						img(src="uploads/service/s-slide-3.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="spa" href="uploads/service/s-slide-4.jpg") 
						img(src="uploads/service/s-slide-4.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="spa" href="uploads/service/s-slide-1.jpg") 
						img(src="uploads/service/s-slide-3.jpg", alt="")
				.swiper-slide
					a(data-fslightbox="spa" href="uploads/service/s-slide-2.jpg") 
						img(src="uploads/service/s-slide-4.jpg", alt="")