section.service-page__choiced.offset
	.container
		.title.mb40-sm30
			.sub-dot Наши преимущества
			.h2 Почему выбирают нас
		.service-page__choiced-grid
			.spc-grid
				.spc-grid__item
					+img-svg('i-col-1')
					.h3 Лучшая цена
					p Мы предлагаем конкурентные цены на работы, обеспечивая высокое качество для наших клиентов.
				.spc-grid__item
					+img-svg('i-col-2')
					.h3 Гарантия качества
					p Мы обеспечиваем гарантию на все выполненные работы, мы уверены в качестве и надежности наших услуг.
				.spc-grid__item
					+img-svg('i-col-3')
					.h3 Решение задач под ключ
					p Мы предлагаем комплексные решения, включая все этапы работ от проектирования до монтажа.
				.spc-grid__item
					+img-svg('i-col-4')
					.h3 Соблюдение сроков
					p Мы придерживаемся строгого графика и гарантируем точное соблюдение сроков выполнения работ.