section.service-page__process.offset
	.container
		.service-page__process-block
			.sub-dot Процесс
			.content
				.h2 Как мы работаем
				p Удобное и простое оформление заявки. Предоставление консультации и расчет стоимости работ с индивидуальным подходом к каждому клиенту.
		.spp-grid__block
			.spp-grid
				.spp-grid__item
					span 01
					.h3 Оформление заявки
					p На этом этапе клиент связывается с нашей компанией, чтобы оформить заявку. Мы готовы к сотрудничеству.
				.spp-grid__item
					span 02
					.h3 Консультация
					p Мы предоставляем консультацию клиенту, чтобы лучше понять его потребности и требования к проекту.
				.spp-grid__item
					span 03
					.h3 Расчет стоимости работ
					p Мы проводим расчет стоимости работ, учитывая объем, используемые материалы, сложность проекта и др.
				.spp-grid__item
					span 04
					.h3 Подписание договора
					p После согласования условий и стоимости работ, мы подписываем договор с клиентом.
				.spp-grid__item
					span 05
					.h3 Сдача работ
					p Мы осуществляем сдачу работ клиенту. В соответствии с задачами проекта и требованиями клиента.