section.service-page__others.offset
	.container
		.h2.mb40-sm30 Другие услуги
		.others-slider
			.service__grid.others-grid.swiper-wrapper
				.service__grid-item.swiper-slide
					.title Строительно-монтажные работы
						span 01
					p Если вам требуются надежные и профессиональные строительно-монтажные работы, мы готовы обеспечить успешное выполнение вашего проекта.
				.service__grid-item.swiper-slide
					.title Благоустройство территории
						span 02
					p Если вам требуются надежные и профессиональные строительно-монтажные работы, мы готовы обеспечить успешное выполнение вашего проекта.
				.service__grid-item.swiper-slide
					.title Металлические работы
						span 03
					p Если вам требуются надежные и профессиональные строительно-монтажные работы, мы готовы обеспечить успешное выполнение вашего проекта.
				.service__grid-item.swiper-slide
					.title Каменные работы
						span 04
					p Если вам требуются надежные и профессиональные строительно-монтажные работы, мы готовы обеспечить успешное выполнение вашего проекта.
				.service__grid-item.swiper-slide
					.title Каменные работы
						span 05
					p Если вам требуются надежные и профессиональные строительно-монтажные работы, мы готовы обеспечить успешное выполнение вашего проекта.
				.service__grid-item.show-n-xl
					.title Смотреть все услуги
					a(href="service.html")
						+img-svg('arrow-long')
		.service__grid-last.show-f-sm
			.title Смотреть все услуги
			a(href="service.html")
				+img-svg('arrow-long')