header.header
	.header__top
		.container
			.header__top-wrapper
				button.header__top-city
					+mono-svg('map', 'header__top-logo')
					| Санкт-Петербург

				.header__top-btns
					.header__top-links
						a(class="top-btns__tel" href="tel:+7(904)0000000") 
							+mono-svg('i-tel')
							| +7(904)0000000
						.divider |
						a(class="top-btns__email" href="mailto:info@spbsmu.ru") info@spbsmu.ru
					.header__top-socials
						a(href="javascript:")
							+img-svg('col-wa')
						a(href="javascript:")
							+img-svg('col-tg')
					button.header__top-search.jsOpenSearch
						+mono-svg('search')
	.container
		.header__bottom.navbar
			a.navbar-logo(href="/")
				+img-svg('logo')

			.header__bottom-list
				.header__bottom-block
					ul.navbar__list
						li.navbar__list-dropitem
							span Услуги
							ul.navbar__list-drop
								li
									a(href="service.html") Все услуги
								li
									a(href="service-page.html") Строительно-монтажные работы 
								li
									a(href="service-page.html") Благоустройство территории
								li
									a(href="service-page.html") Металлические работы
								li
									a(href="service-page.html") Каменные работы
								li
									a(href="service-page.html") Бетонные работы (монолит)
								li
									a(href="service-page.html") Деревянные работы
								li
									a(href="service-page.html") Дорожные работы
						li
							a(href="projects.html") Наши работы
						li
							a(href="about.html") О компании
						li
							a(href="blog.html") Блог
						li
							a(href="contacts.html") Контакты
				
				button.btn.btn--accent.btn--lg.btn--fz16.jsOpenModal Заказать звонок

			button.burger(type="button")
				span
