section.faq-page.offset
	.container
		+breadcrumb(['Главная'], 
			'Вопросы и ответы', 
			'',
			['/', 'faq.html'])
		.faq-page__block
			.accordion-wrapper
				.h1.mb40-sm30 Вопросы и ответы
				button.accordion-btn Как долго обычно занимает выполнение работ?
				.accordion-content
					p Время затвердевания бетона зависит от того, сколько в нем цемента от общего состава смеси. Чем выше марка — тем быстрее он будет твердеть. Например, при равных температурных условиях и одинаковом уровне влажности бетон класса B15(M200) с меньшим содержанием цемента схватится за 2,5 часа, а B30(M400) с большим объемом цемента в массе — за 1-2 часа. Бетоны на гравии, керамзите, растворы с содержанием других пористых добавок твердеют дольше, так как задерживают воду в растворе.
				
				button.accordion-btn Как рассчитывается стоимость работ?
				.accordion-content
					p Время затвердевания бетона зависит от того, сколько в нем цемента от общего состава смеси. 
					p Чем выше марка — тем быстрее он будет твердеть. Например, при равных температурных условиях и одинаковом уровне влажности бетон класса B15(M200) с меньшим содержанием цемента схватится за 2,5 часа, а B30(M400) с большим объемом цемента в массе — за 1-2 часа. 
					p Бетоны на гравии, керамзите, растворы с содержанием других пористых добавок твердеют дольше, так как задерживают воду в растворе.

				button.accordion-btn Какие требования к подготовке перед проведением работ?
				.accordion-content
					p Время затвердевания бетона зависит от того, сколько в нем цемента от общего состава смеси. Чем выше марка — тем быстрее он будет твердеть.
					ul
						li Например, при равных температурных условиях и одинаковом уровне влажности бетон класса B15(M200) с меньшим содержанием цемента схватится за 2,5 часа, а B30(M400) с большим объемом цемента в массе — за 1-2 часа. 
						li Бетоны на гравии, керамзите, растворы с содержанием других пористых добавок твердеют дольше, так как задерживают воду в растворе.

				button.accordion-btn Какие гарантии вы предоставляете?
				.accordion-content
					p Время затвердевания бетона зависит от того, сколько в нем цемента от общего состава смеси. Чем выше марка — тем быстрее он будет твердеть. Например, при равных температурных условиях и одинаковом уровне влажности бетон класса B15(M200) с меньшим содержанием цемента схватится за 2,5 часа, а B30(M400) с большим объемом цемента в массе — за 1-2 часа. Бетоны на гравии, керамзите, растворы с содержанием других пористых добавок твердеют дольше, так как задерживают воду в растворе.
