section.projects.offset
	.container
		+breadcrumb(['Главная'], 
			'Наши проекты', 
			'',
			['/', 'projects.html'])
		.projects__block
			.h2 Наши проекты
			p Ниже представлены выполненные объекты компании.
			.projects__tab
				ul.hth
					li.htb.active(data-tb='oneB') 
						button Все объекты
					li.htb(data-tb='twoB')
						button Строительство
					li.htb(data-tb='threeB')
						button Отделочные работы 
				.bth
					div(class="main-blog__list btb" data-cnt="oneB")
						.projects__tab-grid
							.projects__tab-item
								.img
									img(src="uploads/projects/prj-1.jpg", alt="")
								.text
									.h3 Строительство многоквартирного жилого комплекса 
									span г. Белоостров, Александровское ш. 17
									span Площадь объекта: 9150 м2
							.projects__tab-item
								.img
									img(src="uploads/projects/prj-2.jpg", alt="")
								.text
									.h3 Строительство многоквартирного жилого комплекса 
									span г. Белоостров, Александровское ш. 17
									span Площадь объекта: 9150 м2
							.projects__tab-item
								.img
									img(src="uploads/projects/prj-3.jpg", alt="")
								.text
									.h3 Строительство многоквартирного жилого комплекса 
									span г. Белоостров, Александровское ш. 17
									span Площадь объекта: 9150 м2
							.projects__tab-item
								.img
									img(src="uploads/projects/prj-4.jpg", alt="")
								.text
									.h3 Строительство многоквартирного жилого комплекса 
									span г. Белоостров, Александровское ш. 17
									span Площадь объекта: 9150 м2
							.projects__tab-item
								.img
									img(src="uploads/projects/prj-5.jpg", alt="")
								.text
									.h3 Строительство многоквартирного жилого комплекса 
									span г. Белоостров, Александровское ш. 17
									span Площадь объекта: 9150 м2
							.projects__tab-item
								.img
									img(src="uploads/projects/prj-6.jpg", alt="")
								.text
									.h3 Строительство многоквартирного жилого комплекса 
									span г. Белоостров, Александровское ш. 17
									span Площадь объекта: 9150 м2
							.projects__tab-item
								.img
									img(src="uploads/projects/prj-7.jpg", alt="")
								.text
									.h3 Строительство многоквартирного жилого комплекса 
									span г. Белоостров, Александровское ш. 17
									span Площадь объекта: 9150 м2
							.projects__tab-item
								.img
									img(src="uploads/projects/prj-8.jpg", alt="")
								.text
									.h3 Строительство многоквартирного жилого комплекса 
									span г. Белоостров, Александровское ш. 17
									span Площадь объекта: 9150 м2
							.projects__tab-item
								.img
									img(src="uploads/projects/prj-9.jpg", alt="")
								.text
									.h3 Строительство многоквартирного жилого комплекса 
									span г. Белоостров, Александровское ш. 17
									span Площадь объекта: 9150 м2
						.pagination-wrapper
							.pagination
								button.pagination-prev
									+mono-svg('chevron-right')
								ul.pagination-list
									li.active
										a(href='blog.html') 1
									li
										a(href='blog.html#2') 2
									li
										a(href='blog.html#3') 3
								button.pagination-next
									+mono-svg('chevron-right')
					div(class="main-blog__list btb" data-cnt="twoB")
						| Two
					div(class="main-blog__list btb" data-cnt="threeB")
							| Three


