section.contacts-hero.offset
	.container
		+breadcrumb(['Главная'], 
			'Контакты', 
			'',
			['/', 'contacts.html'])
		.contacts-hero__block
			.content
				.title Санкт-Петербургское <br>строительно-монтажное управление
				span Санкт-Петербург, г. Колпино, ул. Финляндская, 9
				.links
					a(href="tel:+79040000000")
						+mono-svg('i-tel')
						| +7(904)0000000
					a(href="mailto:info@spbsmu.ru")
						+mono-svg('i-eml')
						| info@spbsmu.ru
				.ftc-socials
					a(href="javascript:")
						+img-svg('i-vk')
					a(href="javascript:")
						+img-svg('i-yt')
					a(href="javascript:")
						+img-svg('i-wa')
					a(href="javascript:")
						+img-svg('i-tg')
			.map
				<iframe src="https://yandex.ru/map-widget/v1/?ll=30.579800%2C59.745638&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NzQ3MTQ4MhJh0KDQvtGB0YHQuNGPLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0JrQvtC70L_QuNC90L4sINCk0LjQvdC70Y_QvdC00YHQutCw0Y8g0YPQu9C40YbQsCwgOSIKDdm49EEVjQJvQg%2C%2C&z=12.04" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>