section.offset.home-hero
	.container
		.home-hero__block
			.home-hero__block-content
				.h1 Санкт-Петербургское <br>строительно-монтажное управление
				p Профессиональное строительство и монтаж. Качество, надежность и индивидуальный подход к каждому клиенту.
				button.btn.btn--accent.btn--lg.btn--fz16.jsOpenModal Заказать проект
			.home-hero__block-grid
				.hh-grid
					.hh-grid__item
						.text
							span Надежное строительство. Непрерывное развитие.
					.hh-grid__item
					.hh-grid__item
					.hh-grid__item
					.hh-grid__item
						.text
							i 50+
							span Успешных <br>проектов
					.hh-grid__item
					.hh-grid__item
					.hh-grid__item