section.offset.home-about
	.container
		.sub-dot О компании
		.home-about__block
			.home-about__block-grid
				.ha-grid
					.ha-grid__item
					.ha-grid__item
					.ha-grid__item
					.ha-grid__item
					.ha-grid__item
					.ha-grid__item
					.ha-grid__item
			.ha-top
				.h2 Ваш надежный партнер в строительстве и монтаже
				.ha-top__text
					p Мы являемся ведущей компанией в сфере строительства и монтажа, предоставляющей комплексные решения для различных строительно-монтажных проектов. Наша команда профессионалов обладает богатым опытом и глубокими знаниями в области строительства, что позволяет нам успешно реализовывать проекты любой сложности.
					p Мы стремимся создать пространства, которые вдохновляют жизнь и отвечают потребностям наших клиентов. Мы готовы воплотить ваши идеи в реальность и обеспечить успешное выполнение проекта любой сложности под ключ, будь то строительство жилых комплексов, коммерческих зданий, промышленных объектов или инфраструктурных систем.
				.ha-top__buttons
					button.btn.btn--accent.btn--lg.btn--fz16.jsOpenModal Оставить заявку
					a.btn.btn--fz16.btn--link(href="javascript:") Читать больше
			.ha-bottom
				.h2 Почему выбирают нас
				.ha-bottom__grid
					.ha-bottom__grid-item
						span Комплексные решения
						p Мы предоставляем полный спектр услуг, начиная от благоустройства территории и строительства зданий до монтажа инженерных систем и отделочных работ. Мы обеспечим успешное выполнение проекта в соответствии с вашими требованиями.
					.ha-bottom__grid-item
						span Индивидуальный подход
						p Мы понимаем, что каждый проект уникален, поэтому мы предлагаем индивидуальный подход к каждому клиенту. Наша команда будет работать с вами, чтобы понять ваши потребности и предложить наилучшие решения, соответствующие вашим целям и бюджету.
					.ha-bottom__grid-item
						span Инженерное обеспечение
						p Мы обеспечим полное инженерное обеспечение вашего проекта, включая установку и подключение необходимых систем и оборудования. Мы создадим надежную инфраструктуру на вашем объекте.