section.offset.home-service
	.container
		.home-service__top
			.title
				.sub-dot Наши услуги
				.h2 Строительно-монтажные работы под ключ
			a.btn.btn--accent.btn--xl.btn--fz16(href="javascript:") Все услуги
		.home-service__bottom
			.hth
				button.htb.active(data-tb='one') 
					i 01
					span Строительно-монтажные работы
					+mono-svg('arrow-left')

				button.htb(data-tb='two')
					i 02
					span Благоустройство территории
					+mono-svg('arrow-left')
				button.htb(data-tb='three')
					i 03
					span Металлические работы
					+mono-svg('arrow-left')
				button.htb(data-tb='four')
					i 04
					span Каменные работы
					+mono-svg('arrow-left')
				button.htb(data-tb='five') 
					i 05
					span Бетонные работы
					+mono-svg('arrow-left')
				button.htb(data-tb='six')
					i 06
					span Деревянные работы
					+mono-svg('arrow-left')
				button.htb(data-tb='seven')
					i 07
					span Дорожные работы
					+mono-svg('arrow-left')
				button.htb(data-tb='eight')
					i 08
					span Монтажные работы
					+mono-svg('arrow-left')
				button.htb(data-tb='nine')
					i 09
					span Отделочные работы
					+mono-svg('arrow-left')
				button.htb(data-tb='ten')
					i 10
					span Объекты инженерной инфраструктуры
					+mono-svg('arrow-left')
			.bth
				.btb(data-cnt='one')
					i 01
					.title Строительно-монтажные работы различной степени сложности
					p Независимо от сложности проекта, мы готовы взять на себя ответственность за его успешное выполнение. Мы предлагаем индивидуальный подход к каждому клиенту, чтобы удовлетворить его уникальные требования и ожидания.
					p Если вам требуются надежные и профессиональные строительно-монтажные работы, обратитесь к нам. Мы готовы принять вызов и обеспечить успешное выполнение вашего проекта.
					img(src="uploads/service/s-01.jpg", alt="")
				.btb(data-cnt='two')
					i 02
					.title Строительно-монтажные работы различной степени сложности
					p Независимо от сложности проекта, мы готовы взять на себя ответственность за его успешное выполнение. Мы предлагаем индивидуальный подход к каждому клиенту, чтобы удовлетворить его уникальные требования и ожидания.
					p Если вам требуются надежные и профессиональные строительно-монтажные работы, обратитесь к нам. Мы готовы принять вызов и обеспечить успешное выполнение вашего проекта.
					img(src="uploads/service/s-01.jpg", alt="")
				.btb(data-cnt='three')
					i 03
					.title Строительно-монтажные работы различной степени сложности
					p Независимо от сложности проекта, мы готовы взять на себя ответственность за его успешное выполнение. Мы предлагаем индивидуальный подход к каждому клиенту, чтобы удовлетворить его уникальные требования и ожидания.
					p Если вам требуются надежные и профессиональные строительно-монтажные работы, обратитесь к нам. Мы готовы принять вызов и обеспечить успешное выполнение вашего проекта.
					img(src="uploads/service/s-01.jpg", alt="")
				.btb(data-cnt='four')
					i 04
					.title Строительно-монтажные работы различной степени сложности
					p Независимо от сложности проекта, мы готовы взять на себя ответственность за его успешное выполнение. Мы предлагаем индивидуальный подход к каждому клиенту, чтобы удовлетворить его уникальные требования и ожидания.
					p Если вам требуются надежные и профессиональные строительно-монтажные работы, обратитесь к нам. Мы готовы принять вызов и обеспечить успешное выполнение вашего проекта.
					img(src="uploads/service/s-01.jpg", alt="")
				.btb(data-cnt='five')
					i 05
					.title Строительно-монтажные работы различной степени сложности
					p Независимо от сложности проекта, мы готовы взять на себя ответственность за его успешное выполнение. Мы предлагаем индивидуальный подход к каждому клиенту, чтобы удовлетворить его уникальные требования и ожидания.
					p Если вам требуются надежные и профессиональные строительно-монтажные работы, обратитесь к нам. Мы готовы принять вызов и обеспечить успешное выполнение вашего проекта.
					img(src="uploads/service/s-01.jpg", alt="")
				.btb(data-cnt='six')
					i 06
					.title Строительно-монтажные работы различной степени сложности
					p Независимо от сложности проекта, мы готовы взять на себя ответственность за его успешное выполнение. Мы предлагаем индивидуальный подход к каждому клиенту, чтобы удовлетворить его уникальные требования и ожидания.
					p Если вам требуются надежные и профессиональные строительно-монтажные работы, обратитесь к нам. Мы готовы принять вызов и обеспечить успешное выполнение вашего проекта.
					img(src="uploads/service/s-01.jpg", alt="")
				.btb(data-cnt='seven')
					i 07
					.title Строительно-монтажные работы различной степени сложности
					p Независимо от сложности проекта, мы готовы взять на себя ответственность за его успешное выполнение. Мы предлагаем индивидуальный подход к каждому клиенту, чтобы удовлетворить его уникальные требования и ожидания.
					p Если вам требуются надежные и профессиональные строительно-монтажные работы, обратитесь к нам. Мы готовы принять вызов и обеспечить успешное выполнение вашего проекта.
					img(src="uploads/service/s-01.jpg", alt="")
				.btb(data-cnt='eight')
					i 08
					.title Строительно-монтажные работы различной степени сложности
					p Независимо от сложности проекта, мы готовы взять на себя ответственность за его успешное выполнение. Мы предлагаем индивидуальный подход к каждому клиенту, чтобы удовлетворить его уникальные требования и ожидания.
					p Если вам требуются надежные и профессиональные строительно-монтажные работы, обратитесь к нам. Мы готовы принять вызов и обеспечить успешное выполнение вашего проекта.
					img(src="uploads/service/s-01.jpg", alt="")
				.btb(data-cnt='nine')
					i 09
					.title Строительно-монтажные работы различной степени сложности
					p Независимо от сложности проекта, мы готовы взять на себя ответственность за его успешное выполнение. Мы предлагаем индивидуальный подход к каждому клиенту, чтобы удовлетворить его уникальные требования и ожидания.
					p Если вам требуются надежные и профессиональные строительно-монтажные работы, обратитесь к нам. Мы готовы принять вызов и обеспечить успешное выполнение вашего проекта.
					img(src="uploads/service/s-01.jpg", alt="")
				.btb(data-cnt='ten')
					i 10
					.title Строительно-монтажные работы различной степени сложности
					p Независимо от сложности проекта, мы готовы взять на себя ответственность за его успешное выполнение. Мы предлагаем индивидуальный подход к каждому клиенту, чтобы удовлетворить его уникальные требования и ожидания.
					p Если вам требуются надежные и профессиональные строительно-монтажные работы, обратитесь к нам. Мы готовы принять вызов и обеспечить успешное выполнение вашего проекта.
					img(src="uploads/service/s-01.jpg", alt="")
		.tac.show-lg.service-btn
			a.btn.btn--accent.btn--xl.btn--fz16(href="javascript:") Все услуги
