section.offset.home-objects
	.container
		.home-objects__top
			.title
				.sub-dot Наши объекты
				.h2 Оцените качество наших работ
			a.btn.btn--accent.btn--xl.btn--fz16.show-xxl(href="javascript:") Больше проектов
		.home-objects__grid
			.swiper-wrapper
				.swiper-slide(data-postlink="project-page.html")
					.img
						img(src="uploads/objects/ob-1.jpg", alt="")
					.h3 Многофункциональный комплекс
					span МО, г.о. Домодедово
					span Площадь объекта: 9150 м2
				.swiper-slide(data-postlink="project-page.html")
					.img
						img(src="uploads/objects/ob-2.jpg", alt="")
					.h3 Спортивный стадион
					span г. Москва, р-н Южное Тушино
					span Площадь объекта: 12480 м2
				.swiper-slide(data-postlink="project-page.html")
					.img
						img(src="uploads/objects/ob-3.jpg", alt="")
					.h3 Торговый комплекс
					span Московская область
					span Площадь объекта: 5266 м2
		.mobile-more
			a.btn.btn--accent.btn--xl.btn--fz16(href="javascript:") Больше проектов
		