section.offset.home-testimonials
	.container
		.home-testimonials__top
			.sub-dot Отзывы
			.h2 О нас говорят
		.home-testimonials__grid
			.swiper-wrapper
				.swiper-slide
					span 
						| ООО «Квазар»
						+img-svg('quote')
					p.clap-7 ООО «Квазар», выражает свою благодарность команде специалистов за участие в строительстве нежилого здания в городе Балашиха. Сотрудники учитывали интересы и пожелания руководства ООО «Квазар», чётко и слаженно выполняли поставленные задачи, благодаря чему проект был реализован с опережением сроков.
					button.show-full.jsTestiBtn
						+mono-svg('plus')
				.swiper-slide
					span 
						| ООО "Хитачи Энерджи" 
						+img-svg('quote')
					p.clap-7 ООО "Хитачи Энерджи" выражает благодарность руководству и коллективу компании за качественное выполнение строительно-монтажных работ по созданию многофункционального современного и эргономичного сборочного участка.
					button.show-full.jsTestiBtn
						+mono-svg('plus')
				.swiper-slide
					span 
						| АО "ТРЭМ Инжиниринг" 
						+img-svg('quote')
					p.clap-7 ООО "СТРОЙ-РЕСУРС" выражает благодарность компании за эффективное выполнение функций Генерального подрядчика по строительству комплекса Торгово-складских зданий «Строй Outlet» расположенных в Московской области, село Ям.
					button.show-full.jsTestiBtn
						+mono-svg('plus')
				.swiper-slide
					p Отзывы клиентов, подтверждают высокое качество и профессиона-лизм нашей компаний.  Благодарность наших клиентов вдохновляет нас на дальнейшее развитие и достижение успеха. 
					a.btn.btn--accent.btn--lg.btn--fz16(href="javascript:") Больше отзывов
			.card-last
				p Отзывы клиентов, подтверждают высокое качество и профессиона-лизм нашей компаний.  Благодарность наших клиентов вдохновляет нас на дальнейшее развитие и достижение успеха. 
				a.btn.btn--accent.btn--lg.btn--fz16(href="javascript:") Больше отзывов

