section.offset.home-news
	.container
		.home-news__top
			.title
				.sub-dot Новости
				.h2 Информация о компании и производстве
			a.btn.btn--fz16.btn--link.show-xxl(href="javascript:") Читать больше
		.home-news__grid
			.home-news__grid-item
			.home-news__grid-item
			.home-news__grid-item
			.home-news__grid-item
			.home-news__grid-item
		.home-news__slider
			.swiper-wrapper
				.swiper-slide
					span 15.01.2024
					.h3.clap-2 Выполняется монтаж сэндвич-панелей здания в г. Домодедово
					a(href="blog-single.html")
						+img-svg('arrow-long')
				.swiper-slide
					span 16.01.2024
					.h3.clap-2 С наступающим Новым 2024 годом! С Новым Годом и Рождеством!
					a(href="blog-single.html")
						+img-svg('arrow-long')
				.swiper-slide
					span 17.01.2024
					.h3.clap-2 Монтаж антресоли нестандартной формы в городе Зеленоград
					a(href="blog-single.html")
						+img-svg('arrow-long')
				.swiper-slide
					span 18.01.2024
					.h3.clap-2 Выполняется монтаж сэндвич-панелей здания в г. Домодедово
					a(href="blog-single.html")
						+img-svg('arrow-long')
				.swiper-slide
					span 19.01.2024
					.h3.clap-2 С наступающим Новым 2024 годом! С Новым Годом и Рождеством!
					a(href="blog-single.html")
						+img-svg('arrow-long')
		.tac.show-lg.read-more
			a.btn.btn--fz16.btn--link(href="javascript:") Читать больше
