section.offset.home-blog
	.container
		.home-blog__top
			.title
				.sub-dot Блог
				.h2 Актуальные статьи и публикации
	.container-right
		ul.jsCatList.home-blog__list.hth
			li.htb.active(data-tb='oneA') 
				button Инновации в строительстве
			li.htb(data-tb='twoA')
				button Кейсы успешных проектов
			li.htb(data-tb='threeA')
				button Безопасность на строительстве
			li.htb(data-tb='fourA')
				button Ремонт и реконструкция
			li.htb(data-tb='fiveA')
				button Дизайн и архитектура
			li.htb(data-tb='sixA')
				button Дизайн и архитектура
	.container
		.bth
			div(class="main-blog__list btb" data-cnt="oneA")
				.home-blog__swiper
					.swiper-wrapper
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-1.jpg", alt="")
							.content
								span 01.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-2.jpg", alt="")
							.content
								span 02.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-3.jpg", alt="")
							.content
								span 03.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-4.jpg", alt="")
							.content
								span 04.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
			div(class="main-blog__list btb" data-cnt="twoA")
				.home-blog__swiper
					.swiper-wrapper
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-1.jpg", alt="")
							.content
								span 01.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-2.jpg", alt="")
							.content
								span 02.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-3.jpg", alt="")
							.content
								span 03.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-4.jpg", alt="")
							.content
								span 04.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
			div(class="main-blog__list btb" data-cnt="threeA")
				.home-blog__swiper
					.swiper-wrapper
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-1.jpg", alt="")
							.content
								span 01.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-2.jpg", alt="")
							.content
								span 02.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-3.jpg", alt="")
							.content
								span 03.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-4.jpg", alt="")
							.content
								span 04.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
			div(class="main-blog__list btb" data-cnt="fourA")
				.home-blog__swiper
					.swiper-wrapper
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-1.jpg", alt="")
							.content
								span 01.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-2.jpg", alt="")
							.content
								span 02.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-3.jpg", alt="")
							.content
								span 03.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-4.jpg", alt="")
							.content
								span 04.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
			div(class="main-blog__list btb" data-cnt="fiveA")
				.home-blog__swiper
					.swiper-wrapper
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-1.jpg", alt="")
							.content
								span 01.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-2.jpg", alt="")
							.content
								span 02.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-3.jpg", alt="")
							.content
								span 03.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-4.jpg", alt="")
							.content
								span 04.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
			div(class="main-blog__list btb" data-cnt="sixA")
				.home-blog__swiper
					.swiper-wrapper
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-1.jpg", alt="")
							.content
								span 01.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-2.jpg", alt="")
							.content
								span 02.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-3.jpg", alt="")
							.content
								span 03.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
						.swiper-slide(data-postlink="blog-single.html")
							.img
								img(src="uploads/blog/bg-4.jpg", alt="")
							.content
								span 04.01.2024
								.title Современные технологии в строительстве: что ждет нас в будущем
								p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
		.tac.read-more
			a.btn.btn--accent.btn--xl.btn--fz16(href="javascript:") Читать больше