section.blogpage-intrest.offset
	.container
		.h2.mb40-sm30 Вам также может быть интересно
		.bp-slider
			.swiper-wrapper
				.swiper-slide(data-postlink="blog-post.html")
					.img 
						img(src="uploads/blog/bg-1.jpg", alt="")
					span 01.01.2024
					.title.clap-2 Современные технологии в строительстве: что ждет нас в будущем
					p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
				.swiper-slide(data-postlink="blog-post.html")
					.img 
						img(src="uploads/blog/bg-2.jpg", alt="")
					span 01.01.2024
					.title.clap-2 Новые технологии в строительстве
					p.clap-4 Когда говорят про новые технологии в строительстве, могут подразумевать, например, компьютерные программы, современную технику, новейшие материалы. Есть инструменты, которые уже несколько лет активно применяют по всему миру, а есть совсем новые разработки, которые пока не попали на рынок из лабораторий.
				.swiper-slide(data-postlink="blog-post.html")
					.img 
						img(src="uploads/blog/bg-3.jpg", alt="")
					span 01.01.2024
					.title.clap-2 Использование робототехники <br>в строительстве
					p.clap-4 Довольно большая часть тяжелых строительных работ проводится с помощью техники — бульдозеров, подъемных кранов и грузовых автомобилей. 
				.swiper-slide(data-postlink="blog-post.html")
					.img 
						img(src="uploads/blog/bg-4.jpg", alt="")
					span 01.01.2024
					.title.clap-2 Использование VR-технологий
					p.clap-4 VR — это следующий шаг в проектировании. С помощью виртуальной реальности можно не только посмотреть на модель здания в уменьшенном формате на экране компьютера, а «погулять» внутри еще до момента постройки и оценить, как здание будет смотреться снаружи и внутри. 
				.swiper-slide(data-postlink="blog-post.html")
					.img 
						img(src="uploads/blog/bg-1.jpg", alt="")
					span 01.01.2024
					.title Современные технологии в строительстве: что ждет нас в будущем
					p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
				.swiper-slide(data-postlink="blog-post.html")
					.img 
						img(src="uploads/blog/bg-2.jpg", alt="")
					span 01.01.2024
					.title Новые технологии в строительстве
					p.clap-4 Когда говорят про новые технологии в строительстве, могут подразумевать, например, компьютерные программы, современную технику, новейшие материалы. Есть инструменты, которые уже несколько лет активно применяют по всему миру, а есть совсем новые разработки, которые пока не попали на рынок из лабораторий.