section.blog.offset
	.container
		+breadcrumb(['Главная'], 
			'Блог ', 
			'',
			['/', 'blog.html'])
		.blog-hero
			.img
				img(src="images/blog-bg.jpg", alt="")
			.blog-hero__grid.jsCatList
				.blog-hero__grid-item
					span 15.01.2024
					.h3 Современные технологии в строительстве: что ждет нас в будущем
					p.clap-4 Строительство активно развивается, применяя современные технологии. Инновации играют ключевую роль в прогрессе строительной сферы, позволяя решать насущные задачи и открывать новые возможности.
					a(href="blog-page.html")
						+img-svg('arrow-long')
				.blog-hero__grid-item
					span 15.01.2024
					.h3 Новые технологии в строительстве
					p.clap-4 Когда говорят про новые технологии в строительстве, могут подразумевать, например, компьютерные программы, современную технику, новейшие материалы. Есть инструменты, которые уже несколько лет активно применяют по всему миру, а есть совсем новые разработки, которые пока не попали на рынок из лабораторий.
					a(href="blog-page.html")
						+img-svg('arrow-long')
				.blog-hero__grid-item
					span 15.01.2024
					.h3 Использование робототехники <br>в строительстве
					p.clap-4 Довольно большая часть тяжелых строительных работ проводится с помощью техники — бульдозеров, подъемных кранов и грузовых автомобилей. 
					a(href="blog-page.html")
						+img-svg('arrow-long')
