section.service.offset
	.container
		+breadcrumb(['Главная'], 
			'Наши услуги ', 
			'',
			['/', 'service.html'])
		.title-block.mb40-sm30
			.h2 Наши услуги
			.desc
				p.mb40-sm30 Мы предоставляем комплексные строительно-монтажные решения высокого качества, гарантируя профессионализм, надежность и точное соблюдение сроков выполнения проектов.
				button.btn.btn--accent.btn--xl.btn--fz16.jsOpenModal Получить предложение
		.img-grid(style="background-image: url('../images/our-service-bg.jpg')")
			.img-grid__item
			.img-grid__item
			.img-grid__item
			.img-grid__item