section.service.offset
	.container
		.service__block
			.service__block-aside
				.call-us
					span Свяжитесь с нами
					ul.v-connects
						li
							a(href="tel:+79040000000") 
								+mono-svg('i-tel')
								| +7(904)0000000
						li
							a(href="https://t.me/spbsmu") 
								+mono-svg('i-tg')
								| @spbsmu
						li
							a(href="mailto:info@spbsmu.ru") 
								+mono-svg('i-eml')
								| info@spbsmu.ru
						li
							a(href="https://wa.me/79040000000") 
								+mono-svg('i-wa')
								| +7(904)0000000
			.service__block-content
				.service__grid
					.service__grid-item
						.title Строительно-монтажные работы
							span 01
						p Если вам требуются надежные и профессиональные строительно-монтажные работы, мы готовы обеспечить успешное выполнение вашего проекта.
					.service__grid-item
						.title Благоустройство территории
							span 02
						p Если вам требуются надежные и профессиональные строительно-монтажные работы, мы готовы обеспечить успешное выполнение вашего проекта.
					.service__grid-item
						.title Металлические работы
							span 03
						p Если вам требуются надежные и профессиональные строительно-монтажные работы, мы готовы обеспечить успешное выполнение вашего проекта.
					.service__grid-item
						.title Каменные работы
							span 04
						p Если вам требуются надежные и профессиональные строительно-монтажные работы, мы готовы обеспечить успешное выполнение вашего проекта.
					.service__grid-item(style="background-image: url('../uploads/service/sp-1.jpg')")
					.service__grid-item(style="background-image: url('../uploads/service/sp-2.jpg')")
					.service__grid-item
						.title Бетонные работы (монолит)
							span 05
						p Если вам требуются надежные и профессиональные строительно-монтажные работы, мы готовы обеспечить успешное выполнение вашего проекта.
					.service__grid-item
						.title Деревянные работы
							span 06
						p Если вам требуются надежные и профессиональные строительно-монтажные работы, мы готовы обеспечить успешное выполнение вашего проекта.
					.service__grid-item
						.title Дорожные работы
							span 07
						p Если вам требуются надежные и профессиональные строительно-монтажные работы, мы готовы обеспечить успешное выполнение вашего проекта.
					.service__grid-item(style="background-image: url('../uploads/service/sp-3.jpg')")
					.service__grid-item(style="background-image: url('../uploads/service/sp-4.jpg')")
					.service__grid-item
						.title Монтажные работы
							span 08
						p Если вам требуются надежные и профессиональные строительно-монтажные работы, мы готовы обеспечить успешное выполнение вашего проекта.
					.service__grid-item
						.title Отделочные работы
							span 09
						p Если вам требуются надежные и профессиональные строительно-монтажные работы, мы готовы обеспечить успешное выполнение вашего проекта.
					.service__grid-item
						.title Объекты инженерной инфраструктуры
							span 10
						p Если вам требуются надежные и профессиональные строительно-монтажные работы, мы готовы обеспечить успешное выполнение вашего проекта.
					.service__grid-item
						.form
							.title Нужен проект?
							p Оставьте свои контактные данные и мы вам перезвоним
							form
								.form-row
									label
										input(type="text" name="userName" placeholder="Имя")

									label
										input(type="text" name="userPhone" placeholder="Телефон")
								
								label.accept
									input(class="v-hidden" type="checkbox")
									span
										| Согласен с политикой&nbsp;
										a(href="#") обработки персональных данных
								button.btn.btn--accent.btn--lg.btn--fz16 Заказать звонок
